<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<title>
		{% if page.title == "Home" %}
		{{ page.title }}
		{% else %}
		{{ page.title }}
		{% endif %}
	</title>
	<meta name="description" content="Activ is digital technology agency that specializes in helping Technology Startups and Technology Focused Companies by providing Web Design, Web Development, Product Design, and Digital Marketing services.">
	<meta name="author" content="Activ Digital">
	<link rel="stylesheet" href="/styles.css">
	<!-- <link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/animate.min.css"> -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/favicon.png">
	<link rel="shortcut icon" href="/public/favicon.png">
	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">
	<meta property="fb:app_id" content="525475694313892" />
	<meta property="og:url" content="https://activ.digital" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Activ. A digital technology agency" />
	<meta property="og:description" content="Activ is digital technology agency that specializes in helping Technology Startups and Technology Focused Companies by providing Web Design, Web Development, Product Design, and Digital Marketing services." />
</head>