<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500" rel="stylesheet">
	<title>
		{% if page.title == "Home" %}
		{{ site.title }} | {{ site.tagline }}
		{% else %}
		{{ page.title }} | {{ site.title }}
		{% endif %}
	</title>
	<meta name="keywords" content="web design, web designer in lagos, design, design engineering, front end designer, front end developer, front end developer in lagos, front-end developer, front-end developer in nigeria, front-end developer in lagos, front-end development, web development, ui ux, ui, ux, ux designer in lagos, ux designer in nigeria, web designer, ux design, ux designer, front end web developer, user experience design, front end designer, web site, website, freelance front end developer, freelance web designer, web design consultant, ux design consultant, wordpress developer, wordpress developer in lagos, wordpress developer in nigeria, web design mentor, frontend web designer, frontend web developer, Lagos based frontend web designer, lagos based frontend web developer, nigeria based web designer, nigeria based web developer, nigeria based frontend web developer, nigeria based frontend web designer, lagos based UXD designer, nigeria based uxd">
	<meta name="description" content="The website and portfolio of Omeiza Owuda, Front-end Developer & Designer">
	<meta name="author" content="Activ Digital">
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/favicon.png">
	<link rel="shortcut icon" href="/public/favicon.png">
	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">
	<meta property="fb:app_id" content="525475694313892" />
	<meta property="og:url" content="https://activ.digital" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Activ Digital" />
	<meta property="og:description" content="The website and portfolio of Omeiza Owuda, Front-end Developer & Designer" />
</head>