.owl-carousel .animated {
	-webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-animated-out {
	z-index: 1;
}

.owl-animated-in {
	z-index: 0;
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes fadeOut  {
	0% {
		opacity: 1;
	}

    100% {
		opacity: 0;
	}
}

@keyframes  fadeOut  {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.header {
	max-width: 100%;
	margin: 2em auto;
	padding: 0 2em;

	#logo {
		svg {
			max-width: 100%;
			width: 75px;
			height: auto;
			display: block;
		}

		a, img {
			display: block;
		}
	}

	.navbar_menu {
		&_btn {
			position: relative;
			display: block;
			width: 25px;
			height: 25px;
			margin: 0;
			padding: 0;
			background: 0 0;
			border: 0;
			outline: 0;
			-webkit-transition: all 0s;
			-o-transition: all 0s;
			-moz-transition: all 0s;
			transition: all 0s;
			cursor: pointer;

			&:hover {
				span {
					width: 14px;

					&:last-of-type {
						width: 100%;
					}
				}
			}

			span {
				position: relative;
				display: block;
				width: 100%;
				border-bottom: 2px currentColor solid;
				-webkit-transition: width .3s,-webkit-transform .2s;
				transition: width .3s,-webkit-transform .2s;
				-o-transition: width .3s,-o-transform .2s;
				-moz-transition: transform .2s,width .3s,-moz-transform .2s;
				transition: transform .2s,width .3s;
				transition: transform .2s,width .3s,-webkit-transform .2s,-moz-transform .2s,-o-transform .2s;
				-webkit-transform-origin: center center;
				-moz-transform-origin: center center;
				-ms-transform-origin: center center;
				-o-transform-origin: center center;
				transform-origin: center center;

				&:last-of-type {
					width: 14px;
					margin: 6px 0 0 auto;
				}
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: -15px;
				left: -15px;
				right: -15px;
				bottom: -15px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				z-index: -1;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				-moz-transition: all .3s;
				transition: all .3s;
			}
		}
	}
}

.nav {
	&_wrapper {
		padding-right: 0 !important;

		&_item {
			font-family: $primaryFont;
			font-size: 1em;
			font-weight: 700;
			margin-left: 25px;
			color: #000;

			a {
				display: inline-block;
				cursor: pointer;
			}
		}
	}
}

.jumbotron {
	padding: 4em 0;
	background-color: #F4F4F3;

	&_text {
		font-size: 2.6em;
		margin-bottom: 0.3em;
		line-height: 1.3;
	}

	p {
		margin: 0;
	}
}

.-auto-centered {
	margin: 0 auto;
}

.-no-margin {
	margin: 0;
}

.btn {
	font-weight: 700;
	display: inline-block;
	margin: 30px 10px 20px 0;
	cursor: pointer;
	font-size: 0.85em;
	float: right;
	color: #333;
	font-weight: 700;

	svg {
		width: 6px;
		margin-left: 5px;
		display: inline-block;
		vertical-align: middle;
	}
}

.portfolio {

	&_item {

		&:nth-of-type(even) {

			.portfolio_img_wrapper {
				order: 2;

				img {
					width: calc(100% + 50% - 1.5em);
					position: relative;
					right: -4%;
					left: auto;
				}
			}

			.portfolio_desc {
				order: 1;
                padding: 0 8em 0 1.5em !important;
                
                strong {
                    font-weight: 700;
                }
			}
		}

		&.nmma {
			background-color: #1980A3;

			.btn svg .cls-1 {
				fill: white !important;
			}
		}

		&.services-section {
			background-color: #e9edf5;
		}

		&.newswatch {
			background-color: #ffffff;
        }
        
        &.career {
			background-color: #3f81a9;
        }

        &.web-dev {
            background-color: #ecf7ff;
        }
        
        &.ui-ux {
            background-color: darkslategray;
        }

        &.analytics {
            background-color: #fff8dc;
        }

		&.techno {
			background-color: #d4312f;

			.btn svg .cls-1 {
				fill: white !important;
			}
		}

        &.techno,
        &.career,
        &.nmma,
        &.ui-ux {
			color: white;

			h3, .btn {
				color: white;
			}
		}
	}

	&_img_wrapper {
		img {
			width: calc(100% + 50% - 1.5em);
			position: relative;
			left: -43%;
		}
	}

	&_name {
		font-weight: 400;
		font-style: italic;
		font-size: 1.2em;
	}

	&_desc {
		padding: 0 1.5em 0 8em !important;

		&_heading {
			margin-bottom: 1em;
		}
	}

	h3 {
		font-size: 1.8em;
	}
}

.clients_logo {

	h3 {
		font-style: italic;
		font-family: $primaryFont;
		font-size: 1.3em;
		font-weight: 400;
		color: #919191;
		margin-bottom: 30px;
	}

	&_list {
		li {
			margin: 0 20px 0 0;

			&:last-of-type {
				margin-right: 0;
			}
		}

		img {
			width: auto;
			height: 80px;
			opacity: 0.5;
		}
	}
}

.services {
	&_slide {
		h4 {
			font-size: 1.8em;
			width: 360px;
			text-align: left;
			margin: 0 auto;

			small {
				font-size: 0.7em;
				display: block;
				font-family: $primaryFont;
			}
		}
	}

	&.services_items {
		margin-bottom: 30px;
	}

	&_heading {
		text-align: right;
		margin-bottom: 40px;

		h5 {
			display: inline-block;
			font-style: italic;
			font-family: $primaryFont;
			font-size: 1.1em;
			font-weight: 400;
			color: #919191;
		}

		&.for_about_page {
			text-align: left;
			margin-bottom: 10px;

			h5 {
				font-size: 1.4em;
				color: #777777;
				display: block;
			}
		}
	}
}

#services,
#contact,
#single-portfolio-content {
	background-color: #F4F4F3;

	.btn {
		float: right;
	}
}

#single-portfolio-content {

	p {
		margin-top: 20px;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

	h2, h3 {
		margin: 1.25em 0 0.5em;
	}

	.social_link {
		margin-top: 20px;

		svg {
			height: 20px;
		}

		&:hover {
			.cls-1 {
				fill: #797979;
			}
		}
	}
}

#contact {
	margin-top: 30px;

	.portfolio_desc {
		padding-left: 4em !important;
	}

	form {
		margin-top: 20px;
	}
}

.portfolio.archive,
#portfolio-large-img {
	margin-top: 30px;
}

#portfolio-large-img {
	img {
		max-width: 100%;
		display: block;
	}
}

.services {

	&_item {
		margin-bottom: 30px;

		&:last-of-type {
			margin: 0;
		}
	}

	&_img {
		height: 80px;
		width: auto;
		margin: 40px 0 20px;
	}

	h3 {
		font-size: 1.4em;
		margin-bottom: 10px;
	}
}

.footer {
	background-color: $footerDark;
	color: #888686;
	font-size: 0.95em;

	svg {
		max-width: 100%;
		width: 75px;
		height: auto;
	}

	&_upper {
		margin-bottom: 4em;
	}

	&_links {

		&_item {
			padding: 0 20px;
			margin-left: 30px;

			&:last-of-type {
				padding-right: 0;
			}
		}

		h4 {
			margin: 0 0 10px;
            color: white;
			font-size: 1.05em;
		}

		a {
			transition: color 0.25s ease-in;

			&:hover {
				color: #989797;
			}
		}
	}

	p {
		margin: 0;
	}
}

.social_link {

	li {
		margin-right: 15px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.cls-1 {
		transition: all 0.25s ease-in;
	}

	a {
		display: flex;

		&:hover {
			.cls-1 {
				fill: #b5b5b5;
			}
		}
	}

	svg {
		height: 15px;
		width: auto;
	}
}

.portfolio_item,
.clients_logo,
.footer,
#services,
#contact,
#single-portfolio-content {
	padding: 3em 0;
}

//Animated input

.input {
	position: relative;
	z-index: 1;
	margin: 0.5em 0 1.5em;
	width: 100%;
	vertical-align: top;

	&__field {
		position: relative;
		display: block;
		padding: 0.8em;
		font-size: inherit;
		border: none;
		border-radius: 0;
		font-weight: 300;
		font-family: $primaryFont;
		-webkit-appearance: none; /* for box shadows to show on iOS */

		&:focus {
			outline: none;
		}

		&--nao {
			padding: 0.5em 0 0.5em;
			width: 100%;
			background: transparent;
		}
	}

	&__label {
		padding: 1em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&-content {
			position: relative;
			display: block;
			padding: 1.6em 0;
			color: #848484;
			width: 100%;
		}

		&--nao {
			position: absolute;
			top: -0.05em;
			left: 0;
			display: block;
			width: 100%;
			padding: 0;
			pointer-events: none;
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
			-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
			transition: transform 0.2s 0.15s, color 1s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
	}

	&--nao {
		overflow: hidden;
		padding-top: 1em;
	}
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;

	&--nao {
		stroke: #cccccc;
		pointer-events: none;
		-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
		transition: transform 0.7s, stroke 0.7s;
		-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
		transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	}
}

.input__field--nao + .input__label--nao,
.input--filled .input__label--nao {
	color: #000;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);

}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #000;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}

.input__label--nao {
	-webkit-transition: -webkit-transform 0.1s, color 1s;
	transition: transform 0.1s, color 1s;
}

.input__field--nao {
    font-weight: 400;
    
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #b9b9b9;
      }

    &::-moz-placeholder { /* Firefox 19+ */
        color: #b9b9b9;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: #b9b9b9;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: #b9b9b9;
    }
}

#contact-form .btn {
	border: none;
	background-color: transparent;
}

.owl-carousel {
	text-align: center;
}

.contact_sub {
	margin-top: 20px;

	&:first-of-type {
		margin-top: 30px;
		margin-bottom: 25px;
	}

	h4 {
		margin-bottom: 10px;
        font-size: 1.2em;
	}
}

// #contact-form {
//     input {
//         width: 100%;
//         display: block;
//         margin-bottom: 10px;
//         padding: 10px 20px;
//     }
// }

@media (max-width: 1024px) {
	.grid_cont {
		max-width: 1024px;
		padding: 0 2em;
	}

	#jumbotron {
		padding: 2em 0;

		.heading_wrapper {
			.grid_cont_50perc {
				&:first-of-type {
					width: 100% !important;
					flex-basis: 100% !important;
					padding-right: 0;
				}

				&:last-of-type {
					padding-left: 0;
				}
			}
		}
	}

	#single-portfolio-content {
		.grid_cont_75perc {
			width: 100%;
			flex-basis: 100%;
			padding-right: 0;
		}

		.grid_cont_25perc {
			display: none;
		}
	}

	.portfolio {
		.grid_cont {
			flex-direction: column;
		}

		.grid_cont_50perc {
			flex-basis: 100%;
			width: 100%;

			img {
				width: 100% !important;
				left: 0 !important;
				right: 0 !important;
			}
		}

		.portfolio_item {
			.portfolio_desc,
			&:nth-of-type(even) .portfolio_desc  {
				padding: 2em 0 0!important;
			}

			.portfolio_img_wrapper {
				padding-right: 0 !important;
			}

			&:nth-of-type(even) {
				.portfolio_img_wrapper {
					order: 1;
				}
			}
		}
	}

	#contact {
		.portfolio {
			flex-direction: column;

			&_img_wrapper {
				padding-right: 0;
			}

			&_desc {
				padding: 2em 0 0 !important;
			}
		}
	}
}

@media (max-width: 1024px) {
	#services {
		.services {
			&_items {
				flex-direction: column;
				padding: 0;
				margin-bottom: 0;
			}

			&_item {
				flex-basis: 100%;
				width: 100%;
				padding: 2em 0;
				margin: 0;
				border-bottom: 1px dashed #bdbdbd;

				&:last-of-type {
					border: none;
				}
			}

			&_heading .grid_cont_33perc {
				padding-left: 0;
				width: 100%;
				flex-basis: 100%;
			}

			&_img {
				margin: 0 0 1em;
			}
		}
	}
}

@media (max-width: 768px) {
	body {
		font-size: 0.95em;
	}

	.portfolio_item, 
	.clients_logo, 
	.footer, 
	#services, 
	#contact, 
	#single-portfolio-content {
		padding: 2em 0;
	}

	#footer {
		.footer_upper {
			padding: 0;
			margin-bottom: 2em;
		}

		& > .grid_cont {
			.grid_cont:last-of-type {
				padding: 0;
			}
		}
	}

	#clients_logo {
		.grid_cont_100perc {
			padding: 0;
		}

		.clients_logo_list {
			padding: 0;

			li {
				margin: 0;
				width: 33.33%;
				padding-right: 0.5em;

				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

@media (max-width: 620px)  {

	.grid_cont {
		padding: 0 1.5em;
	}

	#contact {
		margin-top: 0;
	}

	.header {
		margin: 1.2em 0 1em;;
		padding: 0 1.5em;
	}

	#footer {
		.activ_inverted_logo {
			width: 100%;
			margin-bottom: 1em;
		}

		.footer {

			&_links {

				&_item:first-of-type {
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		.footer_upper,
		.copyright-section {
			flex-direction: column;
		}

		.copyright-section {
			align-items: start;
		}

		.social_link {
			order: 1;
			margin-bottom: 1.5em;
		}

		p {
			order: 2;
		}
	}

	.btn {
		margin: 20px 0 0px 0;
	}

	.nav_wrapper_item {
		font-size: 0.85em;
		margin-left: 20px;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type a {
			padding: 0;
			background-color: transparent;
		}
	}

	.portfolio.archive, #portfolio-large-img {
		margin-top: 0;
	}

	.grid_cont_100perc, 
	.grid_contLarge_100perc {
		padding: 0;
	}
}