// Colors
$red: #DD3739;
$grey: #444C55;
$whiteShade: #F4F4F3;
$moreWhiteShade: #F8F8F8;
$nearBlue: #3e9bc1;
$nearGreen: #1a727b;
$footerDark: #262626;
$offBlue: #3F689F;
$offRed: #C65050;
$offGrey: #5C5252;

// fonts
$primaryFont: "Arimo", sans-serif;
$headingFonts: "GT America", sans-serif;
// layout
$maxWidth: 1024px;
