<li class="portfolio_item newswatch">
    <div class="grid_cont grid_align_center">
        <div class="portfolio_img_wrapper grid_cont_50perc">
            <img src="/img/newswatch-desktop.jpg" class="portfolio_img">
        </div>
        <div class="portfolio_desc grid_cont_50perc">
            <div class="portfolio_desc_heading">
                <span class="portfolio_name">Newswatch</span>
                <h3>Designed to meet developers where they live</h3>
            </div>
            <p>
                The product team needs an app to go to market. Marketing has to design this year’s flagship
                campaign and a five-year communications vision. IT wants to replace frustrating, outdated internal
                software.
                Different business problems,
                different needs. We can help.
            </p>
            <a class="btn">
                Read the case study
                {% include_relative svg/arrow.svg %}
            </a>
        </div>
    </div>
</li>